modal-change-profile-pic {
  @include modal-secondary();
  
  .main-container {
    height: 80%;
  }
  
  .btn-container {
    height: 20%;
    
    button[ion-button] {
      @include center-align();
      width: 75%;
    }
  }
  
  .profile-pic {
    margin: 0 auto;
    border-color: color($colors, white);
  }
  
  ion-grid {
    text-align: center;
    color: color($colors, white);
    
    button {
      background: none;
      border-radius: none;
      box-shadow: none;
      @include transition(opacity 300ms ease);
      
      &:active {
        opacity: 0.5;
      }
    }
  }
}