modal-change-profile-pic {
  @include modal-secondary();
  
  .main-container {
    height: 80%;
    position: relative;
  }
  
  .btn-container {
    height: 20%;
    
    button[ion-button] {
      @include center-align();
      width: 75%;
    }
  }
  
  .profile-pic {
    margin: 0 auto;
    border-color: color($colors, white);
  }
  
  ion-grid {
    text-align: center;
    color: color($colors, white);
    
    button {
      background: none;
      border-radius: none;
      box-shadow: none;
      @include transition(opacity 300ms ease);
      
      &:active {
        opacity: 0.5;
      }
    }
  }
  
  .popup-change-avatar-color {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(color($colors, black), 0.75);
    z-index: 50;
    pointer-events: none;
    display: none;
    
    &.active {
      pointer-events: all;
      display: block;
    }
  
    @include media($Mobile_sm...) {
      .profile-pic {
        max-width: 90px;
        max-height: 90px;
      }
    }
  }
  
  .popup-change-avatar-color-container {
    @include vertical-align();
    margin-top: -35%;
  }
}