.bg-primary {
  background: color($colors, primary);
}

.bg-secondary {
  background: color($colors, secondary);
}

.bg-special {
  background: color($colors, special);
}

.bg-highlight {
  background: color($colors, highlight);
}

.bg-white {
  background: color($colors, white);
}

.bg-black {
  background: color($colors, black);
}

.bg-orange {
  background: color($profile, orange);
}

.bg-yellow {
  background: color($profile, yellow);
}

.bg-cyan {
  background: color($profile, cyan);
}

.bg-magenta {
  background: color($profile, magenta);
}

.bg-green {
  background: color($profile, green);
}